@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
}

:root {
  --black: #111;
  --white: #f4f4f4;
  --darkblue: #1c2763;
  --lightblue: #3370b6;
  --red: #e43626;
  --grey: #ada8b6;
}

body {
  background: #cac;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.75);
}

#calculator-display {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "sub operator"
    "main main";

  background: #cac;
}

#calculator-display-main {
  grid-area: main;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 34px;
  padding: 5px 10px;
  background: var(--white);
  color: var(--black);
}
#calculator-display-sub-number,
#calculator-display-sub-operator {
  font-size: 16px;
  background: var(--grey);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--black);
}

#calculator-display-sub-number {
  grid-area: sub;
  justify-content: flex-end;
}

#calculator-display-sub-operator {
  grid-area: operator;
  justify-content: center;
}

#calculator-buttons {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#calculator-buttons button {
  flex: 1 0 25%;
  font-size: 24px;
  border-radius: 0;
  border: none;
  outline: none;
}

#calculator-buttons button:hover {
  filter: brightness(1.33);
}

#calculator-buttons button:active {
  filter: brightness(1.5);
}

.operator {
  background: var(--lightblue);
  color: var(--white);
}

.number,
.decimal {
  background: var(--darkblue);
  color: var(--white);
}

.clear {
  background: var(--red);
  color: var(--darkblue);
}

.resolve {
  background: #ada8b6;
  color: #111;
}
